<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-alicloud-feedback" version="1.0.1">
  <name>AlicloudFeedback</name>
  <description>Cordova Plugin for Alicloud Feedback</description>
  <license>ISC</license>
  <keywords>cordova,alicloud,feedback</keywords>
  <js-module src="www/alicloudFeedback.js" name="AlicloudFeedback">
    <clobbers target="AlicloudFeedback" />
  </js-module>
  <preference name="APP_KEY" />
  <preference name="APP_SECRET" />
  <platform name="ios">
    <pods-config ios-min-version="9.0" use-frameworks="true">
      <source url="https://github.com/CocoaPods/Specs.git"/>
      <source url="https://github.com/aliyun/aliyun-specs.git"/>
    </pods-config>
    <pod name="AlicloudFeedback" version="3.2.2" />
    <config-file target="config.xml" parent="/*">
      <feature name="AlicloudFeedback">
        <param name="ios-package" value="AlicloudFeedback" />
      </feature>
      <preference name="APP_KEY" value="$APP_KEY" />
      <preference name="APP_SECRET" value="$APP_SECRET" />
    </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>访问相机</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      <string>访问相册</string>
    </config-file>
    <header-file src="src/ios/AlicloudFeedback.h" />
    <source-file src="src/ios/AlicloudFeedback.m" />
  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AlicloudFeedback">
        <param name="android-package" value="news.chen.yu.ionic.AlicloudFeedback"/>
      </feature>
      <preference name="APP_KEY" value="$APP_KEY" />
      <preference name="APP_SECRET" value="$APP_SECRET" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="news.chen.yu.ionic.AlicloudFeedback">
        <intent-filter>
          <action android:name="news.chen.yu.ionic.AlicloudFeedback" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>
    </config-file>
    <framework src="com.android.support:support-v4:+" value="gradle" />
    <framework src="src/android/AlicloudFeedback.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/alicloud-android-feedback-3.1.0.aar" target="libs/alicloud-android-feedback-3.1.0.aar" />
    <resource-file src="src/android/libs/alicloud-android-monitor-2.5.1.1_for_bc_proguard.jar" target="libs/alicloud-android-monitor-2.5.1.1_for_bc_proguard.jar" />
    <resource-file src="src/android/libs/alicloud-android-utils-1.0.3.jar" target="libs/alicloud-android-utils-1.0.3.jar" />
    <resource-file src="src/android/libs/utdid4all-1.1.5.3_proguard.jar" target="libs/utdid4all-1.1.5.3_proguard.jar" />
    <source-file src="src/android/AlicloudFeedback.java" target-dir="src/news/chen/yu/ionic" />
  </platform>
</plugin>